@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-LightItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Bold.woff2") format("woff2"), url("/assets/fonts/Daikon-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-BlackItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-BoldItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Italic.woff2") format("woff2"), url("/assets/fonts/Daikon-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Black.woff2") format("woff2"), url("/assets/fonts/Daikon-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Light.woff2") format("woff2"), url("/assets/fonts/Daikon-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-ExtraLightItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-ExtraLight.woff2") format("woff2"), url("/assets/fonts/Daikon-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-SemiBold.woff2") format("woff2"), url("/assets/fonts/Daikon-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Thin.woff2") format("woff2"), url("/assets/fonts/Daikon-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-SemiBoldItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-MediumItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Regular.woff2") format("woff2"), url("/assets/fonts/Daikon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-ThinItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Medium.woff2") format("woff2"), url("/assets/fonts/Daikon-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meticula";
  src: url("/assets/fonts/Meticula-Regular.woff2") format("woff2"), url("/assets/fonts/Meticula-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: aliceblue;
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  background-image: url("/assets/images/landing.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(34, 193, 195);
  background: linear-gradient(133deg, rgb(34, 193, 195) 0%, rgb(56, 239, 125) 100%);
  mix-blend-mode: multiply;
  opacity: 0.5;
  z-index: -2;
  pointer-events: none;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 55px;
}
header h2 {
  font-family: "Baloo Bhaijaan 2", serif;
  font-weight: 500;
  font-size: 46px;
  letter-spacing: 2px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li:not(:first-of-type) {
  margin-left: 20px;
}
header nav ul li a {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 1px;
  border-bottom: 2px solid aliceblue;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 80px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 80px;
}

main {
  background-color: #1d2127;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 30px 40px;
}
main .section {
  width: 100%;
  text-align: left;
}
main .section h4 {
  font-size: 30px;
  margin-bottom: 20px;
}
main .section .row {
  display: flex;
}
main .section .row .col {
  display: flex;
  flex-direction: column;
  background-color: #252930;
  padding: 15px;
  border-radius: 11px;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
}
main .section .row .col .store-pic {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
}
main .section .row .col .store-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .section .row .col .store-desc h5 {
  margin-top: 11px;
  margin-bottom: 3px;
  font-size: 21px;
  font-weight: 700;
}
main .section .row .col .store-desc p {
  font-size: 16px;
}

/*# sourceMappingURL=deals.css.map */
