@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-LightItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Bold.woff2") format("woff2"), url("/assets/fonts/Daikon-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-BlackItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-BoldItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Italic.woff2") format("woff2"), url("/assets/fonts/Daikon-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Black.woff2") format("woff2"), url("/assets/fonts/Daikon-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Light.woff2") format("woff2"), url("/assets/fonts/Daikon-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-ExtraLightItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-ExtraLight.woff2") format("woff2"), url("/assets/fonts/Daikon-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-SemiBold.woff2") format("woff2"), url("/assets/fonts/Daikon-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Thin.woff2") format("woff2"), url("/assets/fonts/Daikon-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-SemiBoldItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-MediumItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Regular.woff2") format("woff2"), url("/assets/fonts/Daikon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-ThinItalic.woff2") format("woff2"), url("/assets/fonts/Daikon-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Daikon";
  src: url("/assets/fonts/Daikon-Medium.woff2") format("woff2"), url("/assets/fonts/Daikon-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Meticula";
  src: url("/assets/fonts/Meticula-Regular.woff2") format("woff2"), url("/assets/fonts/Meticula-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

body {
  color: aliceblue;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  background-image: url("/assets/images/landing.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 150px;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(34, 193, 195);
  background: linear-gradient(133deg, rgb(34, 193, 195) 0%, rgb(56, 239, 125) 100%);
  mix-blend-mode: multiply;
  opacity: 0.4;
  z-index: -2;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.11;
  z-index: -1;
}

body {
  color: aliceblue;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  padding-top: 150px;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 55px;
}
header h2 {
  font-family: "Baloo Bhaijaan 2", serif;
  font-weight: 500;
  font-size: 38px;
  letter-spacing: 2px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li:not(:first-of-type) {
  margin-left: 18px;
}
header nav ul li a {
  letter-spacing: 1px;
  font-size: 19px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: aliceblue;
  text-underline-offset: 5px;
  transition: text-shadow 0.2s ease-out;
}
header nav ul li a:hover {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 80px;
}

main {
  background-color: rgba(29, 33, 39, 0.6);
  width: 100%;
  border-radius: 25px;
  padding: 15px;
}
main .section {
  width: 100%;
  text-align: left;
  background-color: rgba(29, 33, 39, 0.95);
  padding: 30px 30px;
  border-radius: 10px;
}
main .section h4 {
  font-size: 32px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
main .section h4 span.emoji {
  margin-left: 1px;
}
main .section .section-content {
  display: flex;
  padding-bottom: 30px;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
main .section .section-content .card {
  background-color: #f5f5f5;
  color: #252930;
  padding: 20px 20px;
  border-radius: 11px;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  position: relative;
}
main .section .section-content .card .logo {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 13px;
  right: 13px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.5;
}
main .section .section-content .card .logo.mcdonalds {
  background-image: url("https://gorillastudio.co.uk/wp-content/uploads/point_4-01.png");
}
main .section .section-content .card .logo.chick-fil-a {
  background-image: url("https://pbs.twimg.com/profile_images/987417355188883457/BNfarabT_400x400.jpg");
}
main .section .section-content .card .logo.puma {
  background-image: url("https://fontmeme.com/images/Puma-Logo.jpg");
}
main .section .section-content .card h5 {
  font-size: 29px;
  font-weight: 700;
  color: #1d2127;
  letter-spacing: 1px;
  z-index: 1;
  font-family: "Manrope", sans-serif;
}
main .section .section-content .card p {
  z-index: 1;
}
main .section .section-content .card p.subheading {
  margin-top: 3px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
main .section .section-content .card p:not(main .section .section-content .card p.subheading) {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 400;
}
main .section .section-content .card .card-buttons a {
  display: block;
  font-family: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  border-radius: 40px;
  border: 2px solid rgb(34, 193, 195);
  padding: 5px 0;
  pointer-events: all;
  transition: background-color 0.17s ease-out, color 0.17s ease-out, border-color 0.17s ease-out;
  cursor: pointer;
  background-color: transparent;
  color: rgb(34, 193, 195);
  margin-top: 30px;
  justify-self: flex-end;
  justify-content: flex-end;
}
main .section .section-content .card .card-buttons a:hover {
  color: #252930;
  background-color: rgb(34, 193, 195);
}

/*# sourceMappingURL=deals.css.map */
