@use "partials/info-shared" as *;


h1
{
    font-size: 85px;
    margin-bottom: 18px;
    font-family: "Paint Font", cursive;
    font-weight: normal;
    font-style: normal;
    position: relative;
    color: transparent;
    //background: linear-gradient(180deg, rgba(221,24,24,1) 50%, $color-black 100%);
    background: linear-gradient(180deg, rgba(221,24,24,1) 50%, rgba(51,51,51,1) 100%);
    background-clip: text;
}


main
{
    max-width: 900px;

    .section
    {
        box-sizing: content-box;

        //background-color: rgba( $color-darker, 0.95);
        background-color: white;
        padding: 13px 20px;
        color: black;
        box-shadow: 10px -5px rgba($color-red, 1);

        h4
        {
            //color: $color-red;
            font-size: 30px;
            margin-bottom: 15px;
            letter-spacing: 2px;
            font-weight: 500;
        }

        .card
        {
            //background-color: darken(white, 14%);
            background-color: darken(white, 16%);
            padding: 17px 20px;

            h5
            {
                font-size: 22px;
                font-weight: 700;
                font-family: $font-2;
            }

            p
            {
                font-size: 18px;
                font-weight: 400;
            }

            &:not(:first-of-type)
            {
                margin-top: 10px;
            }
        }

        &:not(:first-of-type)
        {
            margin-top: 45px;
        }
    }
}