@use "partials/info-shared" as *;


h1
{
    font-size: 87px;
    margin-bottom: 18px;
    font-family: "Paint Font", cursive;
    font-weight: normal;
    font-style: normal;
    position: relative;
    color: transparent;
    //background: linear-gradient(180deg, rgba(221,24,24,1) 50%, $color-black 100%);
    background: linear-gradient(180deg, rgba(221,24,24,1) 50%, rgba(51,51,51,1) 100%);
    background-clip: text;
    letter-spacing: 1px;
}


main
{
    max-width: 900px;
    //max-width: 850px;
    padding-bottom: 110px !important;

    .section
    {
        box-sizing: content-box;

        //background-color: rgba( $color-darker, 0.95);
        background-color: white;
        //padding: 13px 20px;
        padding: 15px 20px;
        color: black;
        box-shadow: 10px -5px rgba($color-red, 1);

        h4
        {
            //color: $color-red;
            //font-size: 30px;
            font-size: 28px;
            //margin-bottom: 15px;
            margin-top: 5px;
            //margin-bottom: 11px;
            //margin-bottom: 13px;
            margin-bottom: 16px;
            letter-spacing: 2px;
            font-weight: 500;
            //font-weight: 700;
        }

        .card
        {
            //background-color: darken(white, 14%);
            //background-color: darken(white, 16%);
            background-color: darken(white, 15%);
            padding: 17px 20px;

            h5
            {
                //font-size: 22px;
                font-size: 21px;
                font-weight: 700;
                font-family: $font-2;
                letter-spacing: 1px;
                margin-bottom: 7px;
            }

            p
            {
                //font-size: 18px;
                font-size: 17px;
                font-weight: 400;

                &:not(:first-of-type)
                {
                    margin-top: 8px;
                }
            }

            &:not(:first-of-type)
            {
                margin-top: 10px;
            }

            &.sources
            {
                background-color: transparent;
                //display: flex;
                //flex-direction: column;
                //align-items: center;
                padding: 0;
                //padding: 0 0 0 1ch;
                margin-top: 20px;
                margin-bottom: 5px;
                //margin-bottom: 6px;

                h5
                {
                    //text-align: center;
                    font-weight: 500;
                    font-size: 18px;
                    letter-spacing: 1px;
                    //font-style: ita;
                    text-transform: uppercase;
                    //text-decoration: underline;
                    //text-decoration-thickness: 2px;
                    //text-underline-offset: 3px;
                    //margin-bottom: 5px;
                    margin-bottom: 1px;
                }

                ul
                {
                    list-style: decimal;
                    margin-left: 3ch;

                    li > a
                    {
                        text-decoration: none;
                        color: $color-red;
                        font-size: 15px;

                        &:hover
                        {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &:not(:last-of-type)
        {
            margin-bottom: 45px;
        }

        &.ending
        {
            background-color: transparent;
            padding: 30px;
            //box-shadow: 10px -5px white;
            //box-shadow: none;

            h6
            {
                font-size: 55px;
                //margin-bottom: 18px;
                font-family: "Paint Font", cursive;
                font-weight: normal;
                font-style: normal;
                //position: relative;
                color: transparent;
                //background: linear-gradient(180deg, rgba(221,24,24,1) 50%, $color-black 100%);
                background: linear-gradient(180deg, rgba(221,24,24,1) 50%, black 100%);
                background-clip: text;
                text-align: center;
            }
        }
    }


    //.divider
    //{
    //    margin-top: 45px;
    //    width: 100%;
    //    //margin: 10px 0;
    //    border-bottom: 2px solid blue;
    //}
}

