@import "colors";
@import "fonts";


$color-black: black;
$color-red: #d71818;
//$color-red: red;
$color-blood-1: #dd1818;
$color-blood-2: #333333;


@font-face
{
    font-family: "Paint Font";
    font-weight: normal;
    src: url("/assets/fonts/Paint Font/Paint-JpZDE.ttf");
}


*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


html
{
    scroll-behavior: smooth;
}


html, body
{
    height: 100%;
}


//a
//{
//    color: inherit;
//    font-family: inherit;
//    text-decoration: none;
//}


body
{
    background-color: $color-black;
    //color: $color-light;
    font-family: $font-2;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 70px;
}